#header {
font-size: 50px !important;
letter-spacing: 2px !important;
word-spacing: -3.6px !important;
color: #000000;
font-weight: 700 !important;
text-decoration: none !important;
font-style: normal !important;
font-variant: normal !important;
text-transform: uppercase !important;
}

.welcome {
  margin-top: 40vh;
}

.choice {
  transition: all .5s ease-in-out;
}

.choice:hover {
  transform: scale(1.2);
}